.root {
    -fx-padding: 20px;
}

#jshellInputTextField {
    -fx-min-width: 300px;
    -fx-max-width: 300px;
}

#jshellOutputTextArea {
    -fx-max-width: 500px;
}

#browser {
    -fx-max-width: 500px;
    -fx-max-height: 500px;
}